{{> header}}
<h2>Schedule promoted post</h2>

<div class="pricing-tiers">
    <div class="pricing-tier" data-value="personal">
        <div class="tier-title">Personal</div>
        <div class="tier-desc">For hobbyists and small indie teams under €100K in funding or annual revenue.</div>
        <div class="tier-price">€10</div>
    </div>
    <div class="pricing-tier" data-value="indie">
        <div class="tier-title">Indie Studio</div>
        <div class="tier-desc">Required for businesses with over €100K in funding or annual revenue.</div>
        <div class="tier-price">€20</div>
    </div>
    <div class="pricing-tier" data-value="mid">
        <div class="tier-title">Mid-Sized Studio</div>
        <div class="tier-desc">Required for businesses with over €5M in funding or annual revenue.</div>
        <div class="tier-price">€100</div>
    </div>
    <div class="pricing-tier" data-value="aaa">
        <div class="tier-title">AAA Studio</div>
        <div class="tier-desc">Required for businesses with more than €50M in funding or annual revenue.</div>
        <div class="tier-price">€200</div>
    </div>
</div>

<script src="/js/schedule.js" defer></script>

<form action="/promoted/schedule" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="pricing_tier" id="pricing_tier" value="{{pricing_tier}}" required>
    {{> submit-form-fields descriptionRequired=false}}
    <div>
        <label for="promoted_date">date:</label>
        <input type="date" name="promoted_date" id="promoted_date" required min="{{minDate}}" value="{{promoted_date}}">
    </div>
    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}
    <button class="primary-button" type="submit">schedule promoted post</button>
</form>
{{> footer}}
