{{> header}}
<h2>Schedule promoted post</h2>

<div class="pricing-tiers">
    <div class="pricing-tier" data-value="personal">
        <div class="tier-title">Personal</div>
        <div class="tier-desc">For hobbyists and small indie teams under €100K in funding or annual revenue.</div>
        <div class="tier-price">€10</div>
    </div>
    <div class="pricing-tier" data-value="indie">
        <div class="tier-title">Indie Studio</div>
        <div class="tier-desc">Required for businesses with over €100K in funding or annual revenue.</div>
        <div class="tier-price">€20</div>
    </div>
    <div class="pricing-tier" data-value="mid">
        <div class="tier-title">Mid-Sized Studio</div>
        <div class="tier-desc">Required for businesses with over €5M in funding or annual revenue.</div>
        <div class="tier-price">€100</div>
    </div>
    <div class="pricing-tier" data-value="aaa">
        <div class="tier-title">AAA Studio</div>
        <div class="tier-desc">Required for businesses with over €50M in funding or annual revenue.</div>
        <div class="tier-price">€200</div>
    </div>
</div>

<script src="{{assetUrl '/js/schedule.js'}}" defer></script>

<form action="/promoted/schedule" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="pricing_tier" id="pricing_tier" value="{{pricing_tier}}" required>
    {{> submit-form-fields descriptionRequired=false}}
    <div>
        <label for="promoted_date">scheduled date:</label>
        <input type="date" name="promoted_date" id="promoted_date" required min="{{minDate}}" value="{{promoted_date}}">
    </div>
    {{#if error}}
    <div class="error-message">
        {{error}}
    </div>
    {{/if}}
    <p>
        A promoted post will be featured at the top of the home page for the full scheduled day (24 hours), then it will act as a normal post. A ✨ label will be added at the beginning of the title to highlight it.
    </p>
    <p>
        Contact <a href="mailto:support@gdnews.org" class="text-button">support@gdnews.org</a> if needed.
    </p>
    <button class="primary-button" type="submit" disabled>schedule promoted post (not available yet)</button>
</form>
{{> footer}}
