<div class="comment">
    <div class="comment-main" id="comment-{{id}}">
        <div class="comment-meta">
            <ul class="inline-list">
                <li>
                    {{> user-profile-link username=username user_type=user_type}}
                </li>
                <li>
                    <a href="/post/item/{{@root.post.id}}#comment-{{id}}" class="post-date" title="{{formatDateFull created_at}}">{{formatDate created_at}}</a>
                </li>
                <li><button class="text-button toggle-children-btn" data-comment-id="{{id}}" data-count="{{descendant_count}}">hide</button></li>
                <li><button class="text-button show-reply-btn" data-comment-id="{{id}}">reply</button></li>
                {{#if (canUserRemoveComment this @root.user)}}
                <li>
                    <a href="/post/item/{{@root.post.id}}/comment/{{id}}/remove" class="confirm-action {{#if (isAdminNotOwner @root.user this)}}admin-action{{/if}}" data-csrf="{{@root.csrfToken}}">remove</a>
                </li>
                {{/if}}
            </ul>
        </div>

        <div class="comment-content" id="content-{{id}}">{{{formatTextBlockContent content}}}</div>

        <div id="reply-{{id}}" class="reply-form-container" style="display: none; margin-top: 10px;">
            <form action="/post/item/{{@root.post.id}}/comment" method="POST">
                <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
                <input type="hidden" name="parent_comment_id" value="{{id}}">
                <textarea name="content" rows="2" cols="50" maxlength="10000" required></textarea><br>
                <button class="primary-button" type="submit">submit reply</button>
                <button class="secondary-button cancel-reply-btn" type="button" data-comment-id="{{id}}">cancel</button>
            </form>
        </div>
    </div>

    <div id="children-{{id}}">
        {{#if children}}
        {{#if (lt depth maxDepth)}}
        {{!-- Logic for showing limited children --}}
        {{#if (gt (length children) 5)}}
        {{!-- Visible Children --}}
        {{#each (slice children 0 5)}}
        {{> comment this depth=(add ../depth 1) maxDepth=../maxDepth}}
        {{/each}}

        {{!-- Hidden Children --}}
        <div class="show-more">
            <button class="show-more-btn">
                show more ({{reduceDescendantCount (slice children 5 (length children))}})
            </button>
            <div style="display: none;">
                {{#each (slice children 5 (length children))}}
                {{> comment this depth=(add ../depth 1) maxDepth=../maxDepth}}
                {{/each}}
            </div>
        </div>
        {{else}}
        {{!-- All Children --}}
        {{#each children}}
        {{> comment this depth=(add ../depth 1) maxDepth=../maxDepth}}
        {{/each}}
        {{/if}}

        {{else}}
        {{!-- Max Depth Reached - Show More --}}
        <div class="show-more">
            <button class="show-more-btn">
                show more ({{descendant_count}})
            </button>
            <div style="display: none;">
                {{#each children}}
                {{> comment this depth=(add ../depth 1) maxDepth=(add ../maxDepth 3)}}
                {{/each}}
            </div>
        </div>
        {{/if}}
        {{/if}}
    </div>
</div>