<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{#if metaDescription}}{{metaDescription}}{{else}}Video game design & development news aggregator to share healthy discussions with the community{{/if}}">
    <title>{{#if title}}{{title}} | {{/if}}gdnews</title>

    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />

    <link rel="stylesheet" href="{{assetUrl '/style.css'}}">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul class="inline-list">
                    <li><div title="Home" class="logo"><a href="/" class="logo-symbol">🐉&nbsp;</a><a href="/">gdnews</a></div></li>
                    <li><a href="/post/newest">newest</a></li>
                    <li><a href="/promoted/upcoming">upcoming</a></li>
                    <li class="nav-break"><a href="/job/list">jobs</a></li>
                    
                    <div class="nav-auth">
                        {{#if (eq user.user_type 'admin')}}
                            <li><a href="/moderation" class="admin-action">mod</a></li>
                        {{/if}}
                        <li><a href="/post/submit">submit</a></li>
                        {{#if user}}
                        <li><a href="/user/profile/{{user.username}}">{{user.username}}</a></li>
                        {{else}}
                        <li><a href="/auth/login">login</a></li>
                        {{/if}}
                    </div>
                </ul>
            </nav>
        </header>
        <main>