<div class="post">
    <div class="post-title">
        {{#if is_job}}
        <a href="{{#if url}}{{url}}{{else}}{{basePath}}{{id}}{{/if}}" class="job-symbol"><span class="job-tag">hiring: </span></a>
        {{/if}}
        {{#if is_promoted}}
        <a href="{{#if url}}{{url}}{{else}}{{basePath}}{{id}}{{/if}}" class="promoted-symbol">✨ </a>
        {{/if}}
        {{#if url}}
        <a href="{{url}}">{{title}}</a>
        {{else}}
        <a href="{{basePath}}{{id}}">{{title}}</a>
        {{/if}}
        {{#if url}}
        <span class="domain">
            ({{getHostname url}})
        </span>
        {{/if}}
    </div>
    <div class="post-meta">
        <ul class="inline-list">
            {{#unless isDetail}}
            <li>
                <a href="{{basePath}}{{id}}">
                    {{formatCommentCount comment_count}}
                </a>
            </li>
            {{/unless}}

            <li><a href="/user/profile/{{username}}">
            {{#if (eq username "gdnews-bot")}}<span title="This is an automated account"><span class="bot-emoji">☰</span>{{username}}</span>
            {{else}}{{username}}
            {{/if}}
            </a></li>

            {{#if (eq type 'promoted')}}
            <li><strong>scheduled for {{formatDatePromotedPost promoted_date}}</strong></li>
            {{else}}
                {{#if is_promoted}}
                <li><strong>scheduled for {{formatDatePromotedPost promoted_date}}</strong></li>
                {{else}}
                <li><span title="{{formatDateFull created_at}}">{{formatDate created_at}}</span></li>
                {{/if}}
            {{/if}}

            {{#if isDetail}}
                {{#if user}}
                    <li>
                        {{#if isFavorited}}
                        <a href="/post/unfavorite/{{id}}">unfavourite</a>
                        {{else}}
                        <a href="/post/favorite/{{id}}">favourite</a>
                        {{/if}}
                    </li>
                    {{#if (and isDetail is_job (eq user.id user_id))}}
                    <li>
                        <a href="/job/item/{{id}}/remove">remove offer</a>
                    </li>
                    {{/if}}
                {{/if}}
            {{/if}}
        </ul>
    </div>
    
    {{#if description}}
        {{#if isDetail}}
        <div class="post-content">{{{formatTextBlockContent description}}}</div>
        {{/if}}
    {{/if}}
</div>
