<div class="post">
    <div class="post-title">
        {{#if is_job}}
        <a href="{{#if url}}{{url}}{{else}}{{basePath}}{{id}}{{/if}}" class="job-symbol" title="Job offer"><span class="job-tag">hiring: </span></a>
        {{/if}}
        {{#if is_promoted}}
        <a href="{{#if url}}{{url}}{{else}}{{basePath}}{{id}}{{/if}}" class="promoted-symbol" title="Promoted post">✨ </a>
        {{/if}}
        {{#if url}}
        <a href="{{url}}">{{title}}</a>
        {{else}}
        <a href="{{basePath}}{{id}}">{{title}}</a>
        {{/if}}
        {{#if url}}
        <span class="domain">
            ({{getHostname url}})
        </span>
        {{/if}}
    </div>
    <div class="post-meta">
        <ul class="inline-list">
            {{#unless isDetail}}
            <li>
                <a href="{{basePath}}{{id}}">
                    {{formatCommentCount comment_count}}
                </a>
            </li>
            {{/unless}}

            <li>
                {{> user-profile-link username=username user_type=user_type}}
            </li>

            {{#if (eq type 'promoted')}}
                <li><span class="post-date" title="{{formatDateFull promoted_date}}"><strong>
                    scheduled for {{formatDatePromotedPost promoted_date}}
                </strong></span></li>
            {{else if is_promoted}}
                {{#if (isToday promoted_date)}}
                <li><span class="post-date" title="{{formatDateFull promoted_date}}"><strong>
                    scheduled for today
                </strong></span></li>
                {{else}}
                <li><span class="post-date" title="{{formatDateFull promoted_date}}">scheduled {{formatDate promoted_date}}</span></li>
                {{/if}}
            {{else}}
                <li><span class="post-date" title="{{formatDateFull created_at}}">{{formatDate created_at}}</span></li>
            {{/if}}

            {{#if isDetail}}
                {{#if user}}
                    <li>
                        {{#if isFavorited}}
                        <a href="/post/unfavorite/{{id}}">unfavourite</a>
                        {{else}}
                        <a href="/post/favorite/{{id}}">favourite</a>
                        {{/if}}
                    </li>

                    {{#if (canUserLockPost this user isDetail)}}
                    <li>
                        {{#if is_locked}}
                        <a href="/post/item/{{id}}/unlock" class="confirm-action admin-action" data-confirm-text="unlock" data-csrf="{{@root.csrfToken}}">[unlock]</a>
                        {{else}}
                        <a href="/post/item/{{id}}/lock" class="confirm-action admin-action" data-confirm-text="lock" data-csrf="{{@root.csrfToken}}">[lock]</a>
                        {{/if}}
                    </li>
                    {{/if}}

                    {{#if (canUserModifyPost this user isDetail)}}
                    <li>
                        <a href="/post/item/{{id}}/modify" class="admin-action">[modify]</a>
                    </li>
                    {{/if}}

                    {{#if (canUserRemoveJob this user isDetail)}}
                    <li>
                        {{#if (isAdminNotOwner user this)}}
                        <a href="/job/item/{{id}}/remove" class="confirm-action admin-action" data-csrf="{{@root.csrfToken}}">[delete offer]</a>
                        {{else}}
                        <a href="/job/item/{{id}}/remove" class="confirm-action" data-csrf="{{@root.csrfToken}}">delete offer</a>
                        {{/if}}
                    </li>
                    {{/if}}
                    {{#if (canUserRemovePost this user isDetail)}}
                    <li>
                        {{#if (isAdminNotOwner user this)}}
                        <a href="/post/item/{{id}}/delete" class="confirm-action admin-action" data-confirm-text="delete" data-csrf="{{@root.csrfToken}}">[delete]</a>
                        {{else}}
                        <a href="/post/item/{{id}}/delete" class="confirm-action" data-confirm-text="delete" data-csrf="{{@root.csrfToken}}">delete</a>
                        {{/if}}
                    </li>
                    {{/if}}
                    {{#if (canUserRemovePromotedPost this user isDetail)}}
                    <li>
                        {{#if (isAdminNotOwner user this)}}
                        <a href="/promoted/item/{{id}}/delete" class="confirm-action admin-action" data-confirm-text="delete" data-csrf="{{@root.csrfToken}}">[delete]</a>
                        {{else}}
                        <a href="/promoted/item/{{id}}/delete" class="confirm-action" data-confirm-text="delete" data-csrf="{{@root.csrfToken}}">delete</a>
                        {{/if}}
                    </li>
                    {{/if}}
                {{/if}}
            {{/if}}
        </ul>
    </div>
    
    {{#if description}}
        {{#if isDetail}}
        <div class="post-content">{{{formatTextBlockContent description}}}</div>
        {{/if}}
    {{/if}}
</div>
