<div class="post">
    <div class="post-title">
        {{#if is_job}}
        <a href="{{#if url}}{{url}}{{else}}{{basePath}}{{id}}{{/if}}" class="job-symbol"><span class="job-tag">hiring: </span></a>
        {{/if}}
        {{#if is_promoted}}
        <a href="{{#if url}}{{url}}{{else}}{{basePath}}{{id}}{{/if}}" class="promoted-symbol">✨ </a>
        {{/if}}
        {{#if url}}
        <a href="{{url}}">{{title}}</a>
        {{else}}
        <a href="{{basePath}}{{id}}">{{title}}</a>
        {{/if}}
        {{#if url}}
        <span class="domain">
            ({{getHostname url}})
        </span>
        {{/if}}
    </div>
    <div class="post-meta">
        <ul class="inline-list">
            {{#unless isDetail}}
            <li>
                <a href="{{basePath}}{{id}}">
                    {{formatCommentCount comment_count}}
                </a>
            </li>
            {{/unless}}

            <li><a href="/user?id={{username}}">
            {{#if (eq username "gdnews-bot")}}<span title="This is an automated account"><span class="bot-emoji">☰</span>{{username}}</span>
            {{else}}{{username}}
            {{/if}}
            </a></li>

            {{#if (eq type 'promoted')}}
            <li><strong>scheduled for {{formatDatePromotedPost promoted_date}}</strong></li>
            {{else}}
                {{#if is_promoted}}
                <li><span title="{{formatDateFull promoted_date}}">{{formatDate promoted_date}}</span></li>
                {{else}}
                <li><span title="{{formatDateFull created_at}}">{{formatDate created_at}}</span></li>
                {{/if}}
            {{/if}}

            {{#if isDetail}}
                {{#if user}}
                    <li>
                        {{#if isFavorited}}
                        <form action="/unfavorite/{{id}}" method="POST" style="display:inline">
                            <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                            <button type="submit" class="text-button">unfavourite</button>
                        </form>
                        {{else}}
                        <form action="/favorite/{{id}}" method="POST" style="display:inline">
                            <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                            <button type="submit" class="text-button">favourite</button>
                        </form>
                        {{/if}}
                    </li>
                {{/if}}
            {{/if}}
        </ul>
    </div>
    
    {{#if content}}
        {{#if isDetail}}
        <div class="post-content">{{{formatTextBlockContent content}}}</div>
        {{/if}}
    {{/if}}
</div>
