{{#if (and (isAdminNotOwner @root.user this) (neq this.username '[removed]'))}}
    {{#if (eq this.ban_type 'normal')}}
    <li>
        <form action="/moderation/user/{{commentUserId}}/ban" method="POST" style="display:inline;" class="ban-form">
            <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
            <input type="hidden" name="returnTo" value="/moderation/{{@root.moderationType}}">
            <select name="banType" class="ban-select">
                <option value="">Ban User...</option>
                <option value="24hBanned">24 Hours</option>
                <option value="7dBanned">7 Days</option>
                <option value="LifeBanned">Lifetime</option>
            </select>
            <button type="submit" class="ban-confirm-button" style="display:none; background:none; border:none; color: #eb0808; cursor: pointer;">
                confirm ban
            </button>
        </form>
    </li>
    {{else}}
        <li>
            {{#if (eq this.ban_type 'LifeBanned')}}
                <span class="text-button" style="color: #eb0808; cursor: default;">Permanently Banned</span>
                <a href="/moderation/user/{{commentUserId}}/delete" class="confirm-action admin-action" style="margin-left: 8px;" data-confirm-text="delete account" data-csrf="{{@root.csrfToken}}">[delete account]</a>
            {{else}}
                <span class="text-button" style="color: #eb0808; cursor: default;">
                    Banned until {{formatDateFull this.banned_until}}
                </span>
            {{/if}}
        </li>
    {{/if}}
{{/if}}
