{{#if (and (isAdminNotOwner @root.user this) (neq this.username '[removed]'))}}
    {{#if (eq this.ban_type 'normal')}}
    <li>
        <form action="/moderation/user/{{commentUserId}}/ban" method="POST" style="display:inline;" class="ban-form">
            <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
            <input type="hidden" name="returnTo" value="/moderation/{{@root.moderationType}}">
            <select name="banType" class="ban-select">
                <option value="">Ban User...</option>
                <option value="24hBanned">24 Hours</option>
                <option value="7dBanned">7 Days</option>
                <option value="LifeBanned">Lifetime</option>
            </select>
        </form>
    </li>
    <li>
        <a href="#" class="ban-confirm-link text-button" style="display:none; color: #eb0808; margin-left: 5px;">confirm ban</a>
    </li>
    {{else}}
        <li>
            <span class="text-button" style="color: #eb0808; cursor: default;">
                {{#if (eq this.ban_type 'LifeBanned')}}
                    Permanently Banned
                {{else}}
                    Banned until {{formatDateFull this.banned_until}}
                {{/if}}
            </span>
        </li>
    {{/if}}
{{/if}}