<div class="posts">
    {{#each posts}}
    <div class="post">
        <div class="post-title">
            {{#if url}}
            <a href="{{url}}">{{title}}</a>
            {{else}}
            <a href="/item/{{id}}">{{title}}</a>
            {{/if}}
            {{#if url}}
            <span class="domain">
                ({{getHostname url}})
            </span>
            {{/if}}
        </div>
        <div class="post-meta">
            <ul class="meta-list">
                <li>
                    <a href="/item/{{id}}">
                        {{comment_count}} comments
                    </a>
                </li>
                <li><a href="/user?id={{username}}">{{username}}</a></li>
                <li>{{formatDate created_at}}</li>
            </ul>
        </div>
    </div>
    {{/each}}
</div>
{{#if (eq posts.length 0)}}
<p>No posts yet.</p>
{{/if}}