<div>
    <label for="title">title{{#if (eq titleRequired false)}} (optional){{/if}}:</label>
    <input type="text" id="title" name="title" maxlength="180" size="80" {{#if (eq titleRequired false)}}{{else}}required{{/if}} value="{{title}}">
</div>
<div>
    <label for="url">url{{#if (eq urlRequired true)}}{{else}} (optional){{/if}}:</label>
    <input type="url" id="url" name="url" maxlength="2000" size="52" {{#if (eq urlRequired true)}}required{{/if}} value="{{url}}">
</div>
<div>
    <label for="description">description{{#if (eq descriptionRequired true)}}{{else}} (optional){{/if}}:</label>
    <textarea id="description" name="description" rows="4" cols="50" maxlength="10000" {{#if (eq descriptionRequired true)}}required{{/if}}>{{description}}</textarea>
</div>
