{{#if (eq username '[removed]')}}
    {{username}}
{{else}}
    <a href="/user/profile/{{username}}">
        {{#if (eq user_type 'bot')}}
            <span title="automated account"><span class="bot-emoji">☰</span>{{username}}</span>
        {{else}}
            {{username}}
        {{/if}}
    </a>
{{/if}}