
{{> header}}

<div class="moderation-container">
    <h1>Moderation</h1>
    
    <div class="tabs">
        <a href="/moderation/comments" class="{{#if (eq moderationType 'comments')}}active{{/if}}">Comments ({{commentCount}})</a>
        <a href="/moderation/users" class="{{#if (eq moderationType 'users')}}active{{/if}}">Users ({{userCount}})</a>
    </div>

    {{#if (eq moderationType 'users')}}
        <table class="moderation-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Created At</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>
                        {{> user-profile-link username=this.username user_type=this.user_type}}
                    </td>
                    <td>{{this.email}}</td>
                    <td>{{this.user_type}}</td>
                    <td>{{formatDateFull this.created_at}}</td>
                    <td>
                        {{#if this.email_verified}}
                            <span class="status-verified">Verified</span>
                        {{else}}
                            <span class="status-unverified">Unverified</span>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}

    {{#if (eq moderationType 'comments')}}
        <div class="moderation-comments-list">
            {{#each items}}
            <div class="moderation-comment-item">
                <div class="comment-meta">
                    <span class="comment-author">
                        {{> user-profile-link username=this.username user_type=this.user_type}}
                    </span>
                    <span class="comment-date">{{formatDateFull this.created_at}}</span>
                    <span class="comment-post">
                        on <a href="/post/item/{{this.post_id}}">{{this.post_title}}</a>
                    </span>
                    {{#if this.replied_to_comment_id}}
                         <span class="comment-reply">
                            (replying to comment #{{this.replied_to_comment_id}})
                        </span>
                    {{/if}}
                </div>
                <div class="comment-content">
                    {{formatTextBlockContent this.content}}
                </div>
                <ul class="inline-list comment-actions">
                    <li><a href="/post/item/{{this.post_id}}#comment-{{this.id}}" class="text-button">View Context</a></li>
                    <li><a href="/moderation/comment/{{this.id}}/delete" class="confirm-action admin-action" data-csrf="{{@root.csrfToken}}">remove</a></li>
                    {{#if (and (isAdminNotOwner @root.user this) (neq this.username '[removed]'))}}
                        {{#if (eq this.ban_type 'normal')}}
                        <li>
                            <form action="/moderation/user/{{this.user_id}}/ban" method="POST" style="display:inline;" class="ban-form">
                                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <select name="banType" class="ban-select">
                                    <option value="">Ban User...</option>
                                    <option value="24hBanned">24 Hours</option>
                                    <option value="7dBanned">7 Days</option>
                                    <option value="LifeBanned">Lifetime</option>
                                </select>
                            </form>
                        </li>
                        <li>
                            <a href="#" class="ban-confirm-link text-button" style="display:none; color: #eb0808; margin-left: 5px;">confirm ban</a>
                        </li>
                        {{else}}
                            <li>
                                <span class="text-button" style="color: #eb0808; cursor: default;">
                                    {{#if (eq this.ban_type 'LifeBanned')}}
                                        Permanently Banned
                                    {{else}}
                                        Banned until {{formatDateFull this.banned_until}}
                                    {{/if}}
                                </span>
                            </li>
                        {{/if}}
                    {{/if}}
                </ul>
            </div>
            {{/each}}
        </div>
    {{/if}}
    
    <div class="pagination">
        {{#if prevPage}}
            <a href="/moderation/{{moderationType}}?page={{prevPage}}" class="prev-page">Previous</a>
        {{/if}}
        
        <span class="page-info">Page {{page}} of {{totalPages}}</span>
        
        {{#if nextPage}}
            <a href="/moderation/{{moderationType}}?page={{nextPage}}" class="next-page">Next</a>
        {{/if}}
    </div>
</div>

<script src="{{assetUrl '/js/item.js'}}" defer></script>
<script src="{{assetUrl '/js/moderation.js'}}" defer></script>

<style>
    .moderation-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    }

    .moderation-comments-list {
        margin-top: 20px;
    }

    .moderation-comment-item {
        border-bottom: 1px solid #eee;
        padding: 15px 0;
    }
</style>

{{> footer}}
