
{{> header}}

<div class="moderation-container">
    <h1>Moderation</h1>
    
    <div class="tabs">
        <a href="/moderation/comments" class="{{#if (eq moderationType 'comments')}}active{{/if}}">Comments ({{commentCount}})</a>
        <a href="/moderation/users" class="{{#if (eq moderationType 'users')}}active{{/if}}">Users ({{userCount}})</a>
    </div>

    {{#if (eq moderationType 'comments')}}
        <div class="moderation-comments-list">
            {{#each items}}
            <div class="moderation-comment-item">
                <div class="comment-meta">
                    <span class="comment-author">
                        {{> user-profile-link username=this.username user_type=this.user_type}}
                    </span>
                    <span class="comment-date">{{formatDateFull this.created_at}}</span>
                    <span class="comment-post">
                        on <a href="/post/item/{{this.post_id}}">{{this.post_title}}</a>
                    </span>
                    {{#if this.replied_to_comment_id}}
                         <span class="comment-reply">
                            (replying to comment #{{this.replied_to_comment_id}})
                        </span>
                    {{/if}}
                </div>
                <div class="comment-content">
                    {{formatTextBlockContent this.content}}
                </div>
                <ul class="inline-list moderation-actions">
                    <li><a href="/post/item/{{this.post_id}}#comment-{{this.id}}" class="text-button">View Context</a></li>
                    <li><a href="/moderation/comment/{{this.id}}/delete" class="confirm-action admin-action" data-csrf="{{@root.csrfToken}}">remove</a></li>
                    {{> moderation-ban this commentUserId=this.user_id}}
                </ul>
            </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if (eq moderationType 'users')}}
        <div class="moderation-users-list">
            {{#each items}}
            <div class="moderation-user-item">
                <div class="user-meta">
                    <span class="user-name">
                        {{> user-profile-link username=this.username user_type=this.user_type}}
                    </span>
                    <span class="user-email">
                        {{#if this.email}}
                            {{this.email}}
                            {{#if this.email_verified}}
                                <span class="status-verified" title="Verified">✓</span>
                            {{else}}
                                <span class="status-unverified" title="Unverified">✕</span>
                            {{/if}}
                        {{else}}
                            (no email)
                        {{/if}}
                    </span>
                </div>
                <div class="user-details">
                    <span class="detail-item">Created: {{formatDateFull this.created_at}}</span>
                    {{#if this.last_connection}}
                        <span class="detail-item">Last Connected: {{formatDateFull this.last_connection}}</span>
                    {{else}}
                        <span class="detail-item">Last Connected: Never</span>
                    {{/if}}
                </div>
                
                <ul class="inline-list moderation-actions">
                    {{> moderation-ban this commentUserId=this.id}}
                </ul>
            </div>
            {{/each}}
        </div>
    {{/if}}
    
    <div class="pagination">
        {{#if prevPage}}
            <a href="/moderation/{{moderationType}}?page={{prevPage}}" class="prev-page">Previous</a>
        {{/if}}
        
        <span class="page-info">Page {{page}} of {{totalPages}}</span>
        
        {{#if nextPage}}
            <a href="/moderation/{{moderationType}}?page={{nextPage}}" class="next-page">Next</a>
        {{/if}}
    </div>
</div>

<script src="{{assetUrl '/js/item.js'}}" defer></script>
<script src="{{assetUrl '/js/moderation.js'}}" defer></script>

<style>
    .moderation-users-list {
        margin-top: 20px;
    }

    .moderation-user-item {
        border-bottom: 1px solid #eee;
        padding: 15px 0;
    }

    .user-meta {
        font-weight: bold;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-email {
        font-weight: normal;
        color: #666;
        font-size: 0.9em;
    }

    .status-verified {
        color: green;
        margin-left: 5px;
    }

    .status-unverified {
        color: red;
        margin-left: 5px;
    }

    .user-details {
        font-size: 0.9em;
        color: #828282;
        margin-bottom: 10px;
    }

    .detail-item {
        margin-right: 15px;
        display: inline-block;
    }

    @media (max-width: 600px) {
        .user-meta {
            flex-direction: column;
            align-items: flex-start;
        }
        
        .user-email {
            display: block;
            margin-top: 2px;
        }
        
        .detail-item {
            display: block;
            margin-right: 0;
            margin-bottom: 2px;
        }
    }

    .moderation-comments-list {
        margin-top: 20px;
    }

    .moderation-comment-item {
        border-bottom: 1px solid #eee;
        padding: 15px 0;
    }
</style>

{{> footer}}
