{{> header}}

<div class="user-profile">
    <div class="user-header">
        <h2>
            {{#if (eq profileUser.user_type 'bot')}}
            <span title="automated account"><span class="bot-emoji">☰</span>{{profileUser.username}}</span> <span class="account-type-info">(automated account)</span>
            {{/if}}
            {{#if (eq profileUser.user_type 'admin')}}
            <span>{{profileUser.username}}</span> <span class="account-type-info">(admin)</span>
            {{/if}}
            {{#if (eq profileUser.user_type 'normal')}}<span>{{profileUser.username}}</span>
            {{/if}}
        </h2>
        {{#if user}}
        {{#if (eq user.id profileUser.id)}}
        <ul class="inline-list">
            <li><a href="/user/change-email">change email</a></li>
            <li><a href="/auth/logout">logout</a></li>
        </ul>
        {{/if}}
        {{/if}}
    </div>

    {{#if success}}
    <p class="message success">
        {{success}}
    </p>
    {{/if}}

    <p>account creation: <span title="{{formatDateFull profileUser.created_at}}">{{formatDate
            profileUser.created_at}}</span>
    </p>

    {{#if user}}
    {{#if (eq user.id profileUser.id)}}
    <p>email: {{#if profileUser.email}}{{profileUser.email}}{{else}}Not set{{/if}}
    </p>
    {{/if}}
    {{/if}}

    <div class="tabs">
        <a href="/user/profile/{{profileUser.username}}?tab=submissions" class="{{#if (eq currentTab 'submissions')}}active{{/if}}">Posts</a>
        {{#if user}}
        {{#if (eq user.id profileUser.id)}}
        <a href="/user/profile/{{profileUser.username}}?tab=favorites" class="{{#if (eq currentTab 'favorites')}}active{{/if}}">Favourites</a>
        {{/if}}
        {{/if}}
    </div>
    {{> list items=posts type="post" basePath="/post/item/" emptyMessage="No posts found." nextPageUrl=nextPageUrl}}
</div>

{{> footer}}