{{> header}}
<div class="posts">
    <div class="post">
        <div class="post-title">
            {{#if post.url}}
            <a href="{{post.url}}">
                {{post.title}}
            </a>
            {{else}}
            {{post.title}}
            {{/if}}
            {{#if post.url}}
            <span class="domain">
                ({{getHostname post.url}})
            </span>
            {{/if}}
        </div>
        <div class="post-meta">
            by {{post.username}}
            {{formatDate post.created_at}} ago

        </div>
        {{#if post.content}}
        <div class="post-content">
            {{post.content}}
        </div>
        {{/if}}
    </div>

    <div class="comment-form">
        <form action="/item/{{post.id}}/comment" method="POST">
            <textarea name="content" rows="4" cols="50" required></textarea><br>
            <button type="submit">add comment</button>
        </form>
    </div>

    <div class="comments">
        <script src="/js/item.js" defer></script>
        {{#each comments}}
        {{> comment this depth=0 maxDepth=2}}
        {{/each}}
    </div>
</div>
{{> footer}}