{{> header}}
<div class="info-message">
    <p>This page lists all upcoming promoted posts.</p>
    <p><a class="text-button" href="/buy-promoted">Click here to schedule a promoted post</a> to secure the top spot of the home page for a whole day.</p>
</div>

<div class="posts">
    {{#each posts}}
    <div class="post">
        <div class="post-title">
            {{#if url}}
            <a href="{{url}}">{{title}}</a>
            {{else}}
            <a href="/item/{{id}}">{{title}}</a>
            {{/if}}
            {{#if url}}
            <span class="domain">
                ({{getHostname url}})
            </span>
            {{/if}}
        </div>
        <div class="post-meta">
            <ul class="inline-list">
                <li><strong>{{formatDateSimple promoted_date}}</strong></li>
                <li>
                    <a href="/item/{{id}}">
                        {{formatCommentCount comment_count}}
                    </a>
                </li>
                <li><a href="/user?id={{username}}">{{username}}</a></li>
            </ul>
        </div>
    </div>
    {{/each}}
    {{#if (eq posts.length 0)}}
    <p>No upcoming promoted post scheduled.</p>
    {{/if}}
</div>

{{#if nextPageUrl}}
<div class="more-link">
    <a href="{{nextPageUrl}}">more</a>
</div>
{{/if}}
{{> footer}}
