{{> header}}

<div class="user-profile">
    <div class="user-header">
        <h2>
            {{#if (eq profileUser.username "gdnews-bot")}}<span title="This is an automated account"><span class="bot-emoji">☰</span>{{profileUser.username}}</span>
            {{else}}{{profileUser.username}}
            {{/if}}
        </h2>
        {{#if user}}
        {{#if (eq user.id profileUser.id)}}
        <ul class="inline-list">
            <li><a href="/change-email">change email</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
        {{/if}}
        {{/if}}
    </div>
    <div>account creation: <span title="{{formatDateFull profileUser.created_at}}">{{formatDate
            profileUser.created_at}}</span>
    </div>

    {{#if user}}
    {{#if (eq user.id profileUser.id)}}
    <p>email: {{#if profileUser.email}}{{profileUser.email}}{{else}}Not set{{/if}}
    </p>
    {{/if}}
    {{/if}}

    <div class="tabs">
        <a href="/user/{{profileUser.username}}?tab=submissions" class="{{#if (eq currentTab 'submissions')}}active{{/if}}">Posts</a>
        {{#if user}}
        {{#if (eq user.id profileUser.id)}}
        <a href="/user/{{profileUser.username}}?tab=favorites" class="{{#if (eq currentTab 'favorites')}}active{{/if}}">Favourites</a>
        {{/if}}
        {{/if}}
    </div>
    {{> list items=posts type="post" basePath="/item/" emptyMessage="No posts found." nextPageUrl=nextPageUrl}}
</div>

{{> footer}}