{{> header}}

<div class="user-profile">
    <h2>{{profileUser.username}}
    </h2>
    <p>Account created: <span title="{{formatDateFull profileUser.created_at}}">{{formatDate
            profileUser.created_at}}</span>
    </p>

    {{#if user}}
    {{#if (eq user.id profileUser.id)}}
    <p>Email: {{#if profileUser.email}}{{profileUser.email}}{{else}}Not set{{/if}}
    </p>
    <div class="user-actions">
        <i><a href="/change-email">change email</a></i> |
        <i><a href="/logout">logout</a></i>
    </div>
    {{/if}}
    {{/if}}

    <h3>Posts</h3>
    {{> post-list}}
</div>

{{> footer}}